h1 {

    font-family: Georgia, 'Times New Roman', Times, serif;

    background-color: #ffffff;

    border-color: #cccccc;

    color: #4aaaa5;

 

}

 

body {

    font-family: Arial, Helvetica, sans-serif;

    background-color: #ffffff;

    border-color: #dddddd;

    color: #777777;

}

 

Footer{

    background-color: #666666;

   

}