h3 {

    font-family: Georgia, 'Times New Roman', Times, serif;

    background-color: #ffffff;

    border: 1px;
    margin: 10 10 20 10;
    padding: 10px;


    border-color: #cccccc;

    background-color: #4aaaa5;

    color: #ffffff;



}

 

body {
    background-image: url("./assets/images/topography/topography/topography.png");

    font-family: Arial, Helvetica, sans-serif;

    background-color: #ffffff;

    border-color: #dddddd;

    color: #777777;

    width: 960px;

}

 #visitorMessage {
    height: 200px;
 }

footer{

    background-color: #666666;

}


#headshot { 
    Float: left;
    
    Width: 200px;

    Height: 200px;

}

#PolarBear {

    Float: right;

    Width: 200px;

    height: 200px;
}